target/
.classpath
.project
.settings/
yarn-error.log
yarn.lock
package-lock.json
node_modules/
web_modules/
node/
dist/
storybook-static
xr-server/src/main/resources/META-INF/resources
web/build
.vscode
